name: Deploy to Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd /var/www/app
            git pull origin main || git clone https://github.com/BagusNaren/Tugas-MJS.git .

-name: Deploy dummy file
run: ssh ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} "echo 'deploy ok' > /var/www/app/deploy.txt"
